.imageClass{
        width:50px;
        height: 50px;

}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }

  .table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }